
.city-gallery h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c3e50;
  text-align: center;
  margin: 20px 0;
  position: relative;

}

.city-gallery h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.city-gallery h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #e74c3c;
  margin: 10px auto 0;
}

.city-gallery button {
  margin-left: 5rem;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.city-gallery button:after {
  content: "";
  background-color:  #e74c3c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.city-gallery button:hover:after {
  top: 0px;
  left: 0px;
}


.photo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: 100vh;
  object-fit: cover;
}

.slick-dots {
  color:  #e74c3c;
  display: inline-block !important;
}

